apiVersion: apps/v1

kind: Deployment

metadata:
  name: mainapp-envoy-sidecar-deployment
  labels:
    app: mainapp-envoy-sidecar

spec:
  replicas: 2

  selector:
    matchLabels:
      app: mainapp-envoy-sidecar

  template:
    metadata:
      labels:
        app: mainapp-envoy-sidecar

    # The imp stuff
    spec:
      containers:
      - name: mainapp-envoy-sidecar
        image: mainapp-envoy-sidecar:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5199
          name: envoy-port
        
      - name: livescores-microsvc
        image: livescores-microsvc:latest
        imagePullPolicy: Never
        env:
        - name: FOOTBALL_SCORES_URL
          value: "http://football-envoy-sidecar-svc:6199/get_football_scores"
        - name: CRICKET_SCORES_URL
          value: "http://cricket-envoy-sidecar-svc:7199/get_cricket_scores"

---
apiVersion: v1

kind: Service

metadata:
  name: mainapp-envoy-sidecar-svc

spec:
  type: ClusterIP

  selector:
    app: mainapp-envoy-sidecar

  ports:
  - name: mainapp-envoy-sidecar-svc-port
    protocol: TCP
    port: 5199
    targetPort: envoy-port